:root {

  /* Variables to make things reusable */
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  
  header {
    height: var(--top-row-height)
  }

  header > img {
    width: 200px;
    text-align: center;
  }

  aside {
    position: fixed;
    padding-right: 7px;
    border-right: 1px solid var(--blue);
    padding-bottom: 150px;
  }

  aside img {
    width: 180px;
  }

  main {
    display: inline;
  }

  nav ul {
    display: inline-block;
    text-align: center;
  }

 nav li {
  list-style: none;
 }

aside li {
padding: 10px 0px;
}

 nav a {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
  padding-bottom: 10px;
 }
 
 section h2 {
   color: var(--green);
   padding: 5px 0px;
 }

 header + img {
   width: 85%;
   margin-left: 200px;
   padding-left: 10px;
 }

 footer img {
   width: 50px;
 }

 i.fa-star-of-life {
  margin-right: 10px;
 }

 i.fa-pencil-alt {
  margin-right: 10px;
 }

 i.fa-envelope {
   margin-right: 10px;
 }

 main li {
  display: flexbox;
  justify-content: flex-start;
  text-align: center;
 }

section div {
   display: inline-block;
   width: 33%;
 }

 section #what-we-do {
   border-right: 1px solid;
   border-color: var(--green);
   padding-right: 25px;
   padding-left: 25px;
   margin-top: 25px;
 }

 section #our-work {
  border-right: 1px solid;
  border-color: var(--green);
  padding-right: 25px;
  padding-left: 25px;
 }

 section #contact-us {
  padding-right: 25px;
  padding-left: 25px;
 }
 
 section {
   margin-left: 200px;
 }
 
 footer {
   margin-left: 200px;
   padding-left: 10px;
 }

 header {
   margin-left: 200px;   
   padding-left: 10px;
 }


