:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: rgba(192, 192, 192, 0.1);
}

body {
    margin-left: 8%;
    margin-right: 8%;
    color: var(--grey);
}

header #te-logo{
    width: 20%;
}

main #student-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";

    grid-row-gap: 20px;
    grid-column-gap: 50px;
}

#student-picture {
    grid-area: picture;
    text-align: center;
    padding-bottom: 10px;
}

#student-quote {
    grid-area: quote;
    padding-right: 50px;
}

#student-contact {
    grid-area: contact;
}

#student-profile {
    grid-area: profile;
    padding-right: 55px;
}

#experience {
    grid-area: experience;
}

#experience {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

#experience > div:first-child {
    width: 30%;
    margin: auto;    
    margin-top: 0px;
}

#experience > div:nth-child(2) {
    width: 30%;
    margin: auto;
}

#experience > div:nth-child(3) {
    width: 30%;
    margin: auto;
}

#experience > div:last-child {
    width: 30%;
    margin: 0 auto;
}

div > img {
    width: 70%;
    border-radius: 1000px;
    height: 100%;
}

h1.headline {
    font-size: 50px;
    padding: 0;
    margin-top: 10px;
    padding-bottom: 40px;
}

#student-contact > p {
    text-align: center;
}

div > h3 {
    color: var(--blue);
}


