
div {
    background-color: red;
}
* {
    background-color: green;
}
.descendentOne {
    background-color: Yellow;
}
/* descendent selection
#idExample .descendentOne {
    background-color: gray;
}
*/
#idExample .descendentOne {
    background-color: gray;
}

.descendentOne {
    background-color: orange;
}

div {
    border-style: solid;
    margin: 10px;
    padding: 15px;
}

span {
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}

/* Child selector */
/*
#divThree > span {
    background-color: brown;
}
*/
/* Adjacent Sibling selector */
/*
.spanTwo + span {
    background-color: blue;
}
*/

/* General Sibling sector */
.spanOne ~ span {
    background-color: blue;
}




